.document-section {
  color: #333333;
  font-size: 1em;
  h1 {
    display: none;
  }

  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  li {
    font-size: .9em;
  }
  pre {
     padding: 2em;
     background: #000000;
     border-radius: 10px;
     max-width: 800px;
  }
}


.prism-editor__editor {
  color: #f9f9f9 !important;
}

.VueLive-squiggles-wrapper {
   display: none;
}


.VueLive-editor,
code[class*="language-"], pre[class*="language-"]{
  background: #000;
  padding-left: 10px;
  border-radius: 10px;
  textarea:active,
  textarea:focus,
  textarea {
    outline: 0;
    caret-color:red;
    caret-width:2px;
  }
}

.VueLive-editor {
  margin-right: 2%;
}

.VueLivePreview,
.VueLive-editor{
  height: 400px;
  width: 49%;
  float: left;
}

